body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.logo {
  width: 8rem;
  height: 8rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: red;
  margin-right: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: bisque;
  border-radius: 1rem;
  flex-wrap: wrap;
}
li {
  display: inline;
}
a:hover {
  color: black;
}
h1,
.first-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: grey;
  border: 3px groove black;
  border-radius: 1rem;
  margin: 1rem 35rem;
}
.first-paragraph {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
  margin-left: 3rem;
  color: black;
  font-weight: bolder;
}
#user {
  display: flex;
}
.second-paragraph {
  margin-left: 1rem;
  font-size: large;
}
#about {
  background-color: rgba(249, 226, 210, 255);
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.discound {
  height: 50vh;
  width: 30vw;
  flex-wrap: wrap;
}
.imgs {
  width: 20rem;
  height: 10rem;
}
.firstProduce,
.secondProduce,
.thirdProduce,
.fourthProduce,
.fifthProduce,
.sixthProduce {
  margin-top: 1rem;
  margin-right: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
}
.div,
.purchase,
.reset {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.removeButton,
.favouriteButton {
  margin-top: 1rem;
}
button,
input[type="submit"],
input[type="button"] {
  border-radius: 1rem;
}
.heart {
  display: none;
  position: relative;
  width: 100px;
  height: 90px;
  margin-top: 10px;
  justify-content: center;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  top: 0;
  width: 22px;
  height: 40px;
  border-radius: 50px 50px 0 0;
  background: red;
}

.heart::before {
  left: 50px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart::after {
  left: 29px;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
.active {
  display: flex;
}
.display {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.reset {
  margin-left: 1rem;
}
#total {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  color: red;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 5rem;
}
.details {
  display: none;
}
.showDetails {
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
}
#heroSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heroSection {
  margin-bottom: 1rem;
  width: 50vw;
  height: 50vh;
}
.fa.fa-quote-left {
  font-size: 34px;
  color: #ff523b;
  margin-top: 1rem;
}
.fa-solid.fa-star {
  color: #ff523b;
}
.fa-regular.fa-star {
  color: #ff523b;
}
.testimonial {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}
#testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 1rem;
  margin-left: 1rem;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  border-radius: 1rem;
}
#comments {
  display: flex;
  justify-content: center;
  text-align: center;
}
.testimonial-para {
  margin-left: 1rem;
  margin-right: 1rem;
}
#sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 1px solid black;
  border-radius: 1rem;
  height: 80vh;
  background-color: rgba(255, 228, 196, 0.3);
}
.homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}
.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#sign-up div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"],
select {
  border-radius: 0.5rem;
  text-align: center;
  height: 2rem;
  margin-top: 0.5rem;
}
h2 {
  color: grey;
}
